$color: blue;

%outerbox {
    text-align: center;
    color: white;
    font-size: 30px;
}

table {
    th {
        color: $color;
    }
}

#caption {
    @extend %outerbox;
    background: gray;
    text-transform: uppercase;
    font-size: 20px;
}

.header {
    @extend %outerbox;
    padding: 60px;
    background: #1abc9c;
}